@font-face {
    font-family: 'Mistral';
    src: url('fonts/MistralW01.woff2') format('woff2'),
     url('fonts/MistralW01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    width: 100vw;
}

#cabana {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 100%;
}

#cabanaNombre {
    display: flex;
    flex-direction: column;
    /* background-color: #1A73E8; */
    background-color: #0156B3;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 12;
    gap: 5px;

    h2 {
        font-size: 110%;
        color: whitesmoke;
    }

    h5 {
        color: whitesmoke;
        margin: 0 auto;
        z-index: 12;
        font-size: 70%;
        font-weight: 200;
        font-size: 50%;
    }
}

.description {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.description h3 {
    color: #333333;
}

.description p {
    font-size: 14px;
}

.carouselClub {
    margin-top: 70px;
    width: 100%;
    height: 200px; /* Ajusta la altura según necesites */
    overflow: hidden;
    position: relative; /* Importante para manejar el desplazamiento */
}

.carouselClub-images {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    transform: translateX(0); /* Empieza desde la primera imagen */
    width: 100%;
}

.carouselClub-images img {
    width: 100%; /* La imagen ocupará todo el espacio del carrusel */
    height: 100%;
    object-fit: contain; /* Muestra toda la imagen sin recortarla */
    flex-shrink: 0; /* Evita que las imágenes se colapsen */
}



.barraImportante {
    /* width: 100%; */
    /* background-color: #1A73E8; */
    background-color: #0156B3;
    color: aliceblue;
    gap: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.descripcionTexto{
    color: #555;
}

.textoCursiva{
    font-family: Mistral;
    font-size: 140%;
}

.services {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 5px;
    padding: 10px;

}

.services-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    /* color: #1A73E8; */
    color: #0156B3;
}

.containerIconos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.icon-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.icon-container i {
    font-size: 10px;
    /* color: #007BFF; */
    color: #0156B3;
    margin-right: 10px;
}

.containerNo{
    padding: 0 10px;
}

.containerNo i{
    font-size: 10px;
    margin-right: 10px;
}

.service {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.precioNoche {
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 5px;
    color: #333333;

    p {
        padding: 10px;
    }
}

.btnDisponibilidad2 {
    display: flex;
    width: 94%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    text-align: center;
    margin: 15px 0px;
    justify-content: center;

    i {
        margin-right: 5px;
        color: aliceblue;
        font-size: 18px;
    }
}

.siYaConsultaste {
    text-align: center;
    color: #555555;
}

.btnReservar2 {
    display: flex;
    width: 94%;
    padding: 15px 10px;
    border-radius: 5px;
    /* background-color: #1A73E8; */
    background-color: #0156B3;
    color: aliceblue;
    text-align: center;
    margin: 10px 0 40px 0;
    justify-content: center;

    i {
        margin-right: 5px;
    }
}

.iconoVerde {
    color: green !important;
}

.cursiva {
    font-family: Mistral;
    font-size: 140%;
    font-weight: 400;

}

#cursivaLunaCielo{
    color: aliceblue;
    font-size: 120%;
    font-weight: 400;
}