* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.barrasYclima {
    display: flex;
    flex-direction: column;
}

.barraExcursiones {
    background-color: #333;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    padding: 15px 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 40px;
    font-size: 12px;
    gap: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.aqui {
    /* background-color: #828282; */
    /* color: aliceblue; */
    color: aliceblue;
    border: solid 2px #1A73E8;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 3px;
    font-weight: 600;
}

.circuloEinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #007BFF;
    z-index: 9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0px 0px 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* .containerTiempo {
    width: 30%;
    padding: 20px 0;
    z-index: 11;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
} */

.containerTiempo2 {
    z-index: 11;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
}

.tiempo3 {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #828282; */
    /* color: aliceblue; */
    color: aliceblue;
    border: solid 2px #1A73E8;
    font-size: 105%;
    z-index: 11;
    text-align: center;
    border-radius: 50%;
    font-size: 85%;
    padding: 2px;
}


/* .tiempo1 {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: #007BFF;
    font-size: 105%;
    z-index: 11;
    text-align: center;
    border: solid 1px aliceblue;
    border-radius: 50%;
    font-size: 65%;
} */

.barras {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.barra1,
.barra {
    color: aliceblue;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.barra i,
.barras i {
    margin-right: 5px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: -40px 0 80px 0;
    font-size: 150%;
    /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.688); */


    h5 {
        font-weight: 200;
        font-size: 50%;
    }

    h6 {
        font-weight: 400;

    }

    h1 {
        font-weight: bolder;
        
    }

}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(2px); */
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.tiempo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.192);
    color: black;
    border-radius: 5px;
    padding: 10px;
    color: #007BFF;
    margin-bottom: 30px;
}

.btnDisponibilidad {
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: aliceblue;
    color: #202124;
    text-align: center;
    margin: 15px 0px;
    i{
        color: green;
        font-size: 18px;
    }
}

.btnLlegar {
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: aliceblue;
    color: #202124;
    text-align: center;
    margin: 0 0 40px 0;
    i{
        color: #1A73E8;
    }
}

.btnReservar {
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    /* background-color: green; */
    background-color: #1A73E8;
    color: aliceblue;
    text-align: center;
    margin: 10px 0 0 0;
}


/* 3 CARACTERISTICAS */
.caracteristicas {
    display: flex;
    justify-content: center;
    /* Centra los círculos horizontalmente */
    gap: 20px;
    /* Espaciado entre los círculos */
    margin: 20px 0 20px 0;
    /* Margen superior opcional */
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.circle i {
    font-size: 14px;
    color: #007BFF;
    margin-bottom: 4px;
}

.circle h5 {
    font-size: 12px;
    margin: 0;
    color: #333;
    text-align: center;
    line-height: 1.2;
}

.circle h5 span {
    font-weight: 600;
}








.bienvenida-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background: linear-gradient(to bottom, #f5f5f5, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.bienvenida-texto {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.bienvenida-texto h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0056b3;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bienvenida-texto p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;
}

.btn-reservar2 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-reservar:hover {
    background-color: #0056b3;
}







/*CARRUSEL CLUB  ///////////////////////////////////// */
.carouselClub {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carouselClub-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 100%;
}

.carouselClub-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}



/*SECCION SERVICIOS CLUB  ///////////////////////////////////// */
.serviciosDelClub {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
        margin: 0 0 10px 0;
        color: #0156B3;
    }

    i {
        color: #0156B3;
    }

    p {
        font-size: 14px;
    }

    .listaQueIncluye {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        hr {
            margin-bottom: 4px;
            width: 100%;
            border: 0;
            height: 1px;
            background-color: #c3c3c3;
        }

    }
}


hr {
    margin-top: 10px;
}

.avisoReglamento {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    margin-top: -10px;
    color: #686868;
}




/* HORARIO DE SILENCIO */
.horarioDeSilencio {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 10px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333333;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.horario {
    padding: 30px 0;

    h3 {
        margin-top: 5px;
    }

    i {
        color: gold;
    }
}

.hora {
    background-color: gold;
    width: 100%;
    padding: 5px 0;
    color: #333333;
    font-size: 13px;
}

.prohibidoMotoRuido {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
    color: #333333;
}

.moto {
    width: 50%;
    padding: 15px 0 20px 0;
    font-size: 14px;
    border-right: 1px solid rgb(202, 202, 202);

    i {
        color: red;
    }
}

#ruido {
    border-right: none;
}







/*SECCION CONOCE  ///////////////////////////////////// */
.containerConoce {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background: linear-gradient(to bottom, #f5f5f5, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 0 20px;
}

.conoce-texto {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.conoce-texto h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0056b3;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.conoce-texto i {
    font-size: 16px;
    color: #0056b3;
}

.conoce-texto p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;
}



















/*CARDS CABANAS///////////////////////////////////// */
.cardCabana {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d8ebff;
    overflow: hidden;
}

.carouselCabana {
    width: 100%;
    height: 175px;
    /* Ajusta la altura según necesites */
    overflow: hidden;
    position: relative;
    /* Importante para manejar el desplazamiento */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carouselCabana-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /* Empieza desde la primera imagen */
    width: 100%;
}

.carouselCabana-images img {
    width: 100%;
    /* La imagen ocupará todo el espacio del carrusel */
    height: 100%;
    object-fit: contain;
    /* Muestra toda la imagen sin recortarla */
    flex-shrink: 0;
    /* Evita que las imágenes se colapsen */
}


.icon-containerCabana {
    width: 100%;
    height: 20px;
    border-bottom: 2px black;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.icon-containerCabana i {
    font-size: 12px;
    /* Ajusta el tamaño según tus necesidades */
    color: #c3c3c3;
}


.titles {
    padding: 10px 20px;
    text-align: left;
}

.titles p {
    font-size: 14px;
    color: #555;
}

.titles h2 {
    font-size: 25px;
    margin-bottom: 5px;
    color: #333;
}

.titles span {
    font-size: 14px;
    color: #777;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.actions {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btnVermas {
    width: 80%;
    background-color: #1A73E8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 0 0 10px 0;
}

.btnVermas:hover {
    opacity: 0.9;
}

.cardCabanaCielo {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #D8EBFF;
    overflow: hidden;
}

.carouselCabanaCielo {
    width: 100%;
    height: 175px;
    /* Ajusta la altura según necesites */
    overflow: hidden;
    position: relative;
    /* Importante para manejar el desplazamiento */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carouselCabanaCielo-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /* Empieza desde la primera imagen */
    width: 100%;
}

.carouselCabanaCielo-images img {
    width: 100%;
    /* La imagen ocupará todo el espacio del carrusel */
    height: 100%;
    object-fit: contain;
    /* Muestra toda la imagen sin recortarla */
    flex-shrink: 0;
    /* Evita que las imágenes se colapsen */
}






.location-card {
    width: 80%;
    max-width: 375px;
    margin: 20px auto;
    background-color: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(137, 21, 21, 0.1);
    h2 {
        font-size: 18px;
        margin-bottom: 15px;
        color: #1A73E8;
    }
}

.map-container {
    width: 100%;
    height: 200px;
}

#google-map {
    width: 100%;
    height: 100%;
}

.directions-btn {
    display: block;
    width: 75%;
    margin: -20px auto 0;
    padding: 10px;
    background-color: #1A73E8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.directions-btn:hover {
    background-color: #0056b3;
}

.info-container {
    padding: 20px 35px;
}



ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #dadada;
}

.place {
    font-weight: bold;
}

.distance {
    color: #1A73E8;
}











/*COPY FINAL  ///////////////////////////////////// */
.containerFinal {
    width: 100vw;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 200%;
    }

}

.final {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 20px 50px 20px;
    background-color: transparent;
    color: aliceblue;
    gap: 15px;
    z-index: 15;
    position: absolute;
    /* text-shadow: 0 8px 8px rgb(0, 0, 0); */

    
}

.cursiva {
    font-style: italic;
}

#btnDispoFinal {
    margin: 10px 0;
    width: 60%;
    background-color: #007BFF;
    color: aliceblue;
    border: solid 2px #007BFF;
    text-shadow: none;

}

.video-background-final {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.video-background-final video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(1px);
    display: block;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Ajusta la opacidad según lo necesites */
    z-index: 14; /* Debe estar entre el carrusel (z-index: 14) y el texto (z-index: 15) */
}

.custom-carousel{
    z-index: 14;
    position: absolute;
}




 /*FOOTER////////////////////////////////// */
 footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #888;
    margin-top: -25px;
    z-index: 20;

    p {
        font-size: 10px;
    }
}

.containerLogoSat {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50%;
        padding: 5px;
    }
}



